@theme {
  --text-1: 0.25rem;
  --text-1_5: 0.375rem;
  --text-2: 0.5rem;
  --text-2_5: 0.625rem;
  --text-3: 0.75rem;
  --text-3_5: 0.875rem;
  --text-4: 1rem;
  --text-4_5: 1.125rem;
  --text-5: 1.25rem;
  --text-5_5: 1.375rem;
  --text-6: 1.5rem;
  --text-6_5: 1.625rem;
  --text-7: 1.75rem;
  --text-7_5: 1.875rem;
  --text-8: 2rem;
  --text-8_5: 2.125rem;
  --text-9: 2.25rem;
  --text-9_5: 2.375rem;
  --text-10: 2.5rem;
  --text-11: 2.75rem;
  --text-12: 3rem;
  --text-13: 3.25rem;
  --text-14: 3.5rem;
  --text-15: 3.75rem;
  --text-16: 4rem;
  --text-17: 4.25rem;
  --text-18: 4.5rem;
  --text-19: 4.75rem;
  --text-20: 5rem;
  --text-21: 5.25rem;
  --text-22: 5.5rem;
  --text-23: 5.75rem;
  --text-24: 6rem;
  --text-25: 6.25rem;
  --text-26: 6.5rem;
  --text-27: 6.75rem;
  --text-28: 7rem;
  --text-29: 7.25rem;
  --text-30: 7.5rem;
  --text-31: 7.75rem;
  --text-32: 8rem;
  --text-33: 8.25rem;
  --text-34: 8.5rem;
  --text-35: 8.75rem;
  --text-36: 9rem;
  --text-37: 9.25rem;
  --text-38: 9.5rem;
  --text-39: 9.75rem;
  --text-40: 10rem;
  --text-41: 10.25rem;
  --text-42: 10.5rem;
  --text-43: 10.75rem;
  --text-44: 11rem;
  --text-45: 11.25rem;
  --text-46: 11.5rem;
  --text-47: 11.75rem;
  --text-48: 12rem;
  --text-49: 12.25rem;
  --text-50: 12.5rem;
  --text-51: 12.75rem;
  --text-52: 13rem;
  --text-53: 13.25rem;
  --text-54: 13.5rem;
  --text-55: 13.75rem;
  --text-56: 14rem;
  --text-57: 14.25rem;
  --text-58: 14.5rem;
  --text-59: 14.75rem;
  --text-60: 15rem;
  --text-61: 15.25rem;
  --text-62: 15.5rem;
  --text-63: 15.75rem;
  --text-64: 16rem;
  --text-65: 16.25rem;
  --text-66: 16.5rem;
  --text-67: 16.75rem;
  --text-68: 17rem;
  --text-69: 17.25rem;
  --text-70: 17.5rem;
  --text-71: 17.75rem;
  --text-72: 18rem;
  --text-73: 18.25rem;
  --text-74: 18.5rem;
  --text-75: 18.75rem;
  --text-76: 19rem;
  --text-77: 19.25rem;
  --text-78: 19.5rem;
  --text-79: 19.75rem;
  --text-80: 20rem;
  --text-81: 20.25rem;
  --text-82: 20.5rem;
  --text-83: 20.75rem;
  --text-84: 21rem;
  --text-85: 21.25rem;
  --text-86: 21.5rem;
  --text-87: 21.75rem;
  --text-88: 22rem;
  --text-89: 22.25rem;
  --text-90: 22.5rem;
  --text-91: 22.75rem;
  --text-92: 23rem;
  --text-93: 23.25rem;
  --text-94: 23.5rem;
  --text-95: 23.75rem;
  --text-96: 24rem;
  --text-97: 24.25rem;
  --text-98: 24.5rem;
  --text-99: 24.75rem;
  --text-100: 25rem;
  --text-101: 25.25rem;
  --text-102: 25.5rem;
  --text-103: 25.75rem;
  --text-104: 26rem;
  --text-105: 26.25rem;
  --text-106: 26.5rem;
  --text-107: 26.75rem;
  --text-108: 27rem;
  --text-109: 27.25rem;
  --text-110: 27.5rem;
  --text-111: 27.75rem;
  --text-112: 28rem;
  --text-113: 28.25rem;
  --text-114: 28.5rem;
  --text-115: 28.75rem;
  --text-116: 29rem;
  --text-117: 29.25rem;
  --text-118: 29.5rem;
  --text-119: 29.75rem;
  --text-120: 30rem;
  --text-121: 30.25rem;
  --text-122: 30.5rem;
  --text-123: 30.75rem;
  --text-124: 31rem;
  --text-125: 31.25rem;
  --text-126: 31.5rem;
  --text-127: 31.75rem;
  --text-128: 32rem;
  --text-129: 32.25rem;
  --text-130: 32.5rem;
  --text-131: 32.75rem;
  --text-132: 33rem;
  --text-133: 33.25rem;
  --text-134: 33.5rem;
  --text-135: 33.75rem;
  --text-136: 34rem;
  --text-137: 34.25rem;
  --text-138: 34.5rem;
  --text-139: 34.75rem;
  --text-140: 35rem;
  --text-141: 35.25rem;
  --text-142: 35.5rem;
  --text-143: 35.75rem;
  --text-144: 36rem;
  --text-145: 36.25rem;
  --text-146: 36.5rem;
  --text-147: 36.75rem;
  --text-148: 37rem;
  --text-149: 37.25rem;
  --text-150: 37.5rem;
  --text-151: 37.75rem;
  --text-152: 38rem;
  --text-153: 38.25rem;
  --text-154: 38.5rem;
  --text-155: 38.75rem;
  --text-156: 39rem;
  --text-157: 39.25rem;
  --text-158: 39.5rem;
  --text-159: 39.75rem;
  --text-160: 40rem;
  --text-161: 40.25rem;
  --text-162: 40.5rem;
  --text-163: 40.75rem;
  --text-164: 41rem;
  --text-165: 41.25rem;
  --text-166: 41.5rem;
  --text-167: 41.75rem;
  --text-168: 42rem;
  --text-169: 42.25rem;
  --text-170: 42.5rem;
  --text-171: 42.75rem;
  --text-172: 43rem;
  --text-173: 43.25rem;
  --text-174: 43.5rem;
  --text-175: 43.75rem;
  --text-176: 44rem;
  --text-177: 44.25rem;
  --text-178: 44.5rem;
  --text-179: 44.75rem;
  --text-180: 45rem;
  --text-181: 45.25rem;
  --text-182: 45.5rem;
  --text-183: 45.75rem;
  --text-184: 46rem;
  --text-185: 46.25rem;
  --text-186: 46.5rem;
  --text-187: 46.75rem;
  --text-188: 47rem;
  --text-189: 47.25rem;
  --text-190: 47.5rem;
  --text-191: 47.75rem;
  --text-192: 48rem;
  --text-193: 48.25rem;
  --text-194: 48.5rem;
  --text-195: 48.75rem;
  --text-196: 49rem;
  --text-197: 49.25rem;
  --text-198: 49.5rem;
  --text-199: 49.75rem;
  --text-200: 50rem;
}
